* { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; }

body {
    margin:50px 0px; padding:0px;
    text-align:center;
}

.content{
    width:900px;
    margin:0px auto;
    text-align:left;
    padding:15px;
}

.footer {
    background-repeat:no-repeat;
    padding-top:0px;
}

.footer, .footer a {
    font-size:11px;
    color:#000;

}