/* CSS Document */

* { font-family:Verdana, Geneva, sans-serif; color:#000000; }
body { margin:5px; background:none; }

body, h3, h2, td, a { color:#000000; }
input, select, option { color:#000000; }