* { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; } 
html, body {
	margin:0px;
	padding:0px;
	height:100%;	
}
body {
	background-repeat: repeat-x;
	background-color: #2d2920;
	background-image:url(images/bg.jpg);
	background-repeat:repeat-x;
	background-position:top;
}

.footer { 
	background-image:url(images/footer.jpg);
	background-repeat:no-repeat;
	padding-top:20px;
	height:99px;
}

.footer, .footer a { 
	font-size:11px;
	color:#EEE;

}

img, div, a, input { behavior: url('/global/iepngfix/iepngfix.htc') }