/* CSS Document */

* { font-family:Verdana, Geneva, sans-serif; color:#FFFFFF; } 
body { margin:5px; background:none; }

body, h3, td, a { color:#FFFFFF; }
input, select, option { color:#000000; }